<!-- START CENTERED WHITE CONTAINER -->
<!--
{
    acceptLink,
    declineLink,
    listing: {
        name,
        locationDisplay,
        price
    },
    lease: {
        start,
        end
    },
    tenantName,
    landloardName
}
-->
<table class="main">

    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Hello {{ tenantName }},</p>
                        <p>{{ landlordName }} has invited you to sign on to their listing titled {{ listing.name }} located at {{ listing.locationDisplay }}</p>
                        <p>The monthly rent for this offer is ${{formatPrice listing.price }} and the least would start on {{formatDate lease.start}} and end on {{formatDate lease.end}}.</p>
                        {{> cta text='Accept' href=acceptLink}}
                        {{> negativeButton text='Decline' href=declineLink}}
                        <p>Congratulations On Your Listing!</p>
                        <p>Roomie Team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

<!-- END MAIN CONTENT AREA -->
</table>
